<div style="margin: 5px;overflow: hidden;">
    <div id="layerContainer" style="display: none;">
        <button id="layerAttributeBtn" class="titleHeader" role="button">
            <span class="titleLabel">${config.i18n.visit.layer}</span>
            <span class="launchpad-icon-arrow-right listExpandBtn"></span>
        </button>
        <div id="layerAttributesContent" style="display: none;padding: 0 0.8em"></div>
    </div>
    <div id="filterVisitStatus" style="display: none;padding: 0.8em;">
        <label for="selectFilter">${config.i18n.visit.filter}: </label>
        <select id="selectFilter" data-dojo-type="dijit/form/Select"></select>
    </div>
    <!-- <div id="filterFieldStatus" style="display: block;padding: 0.8em;">
        <label for="fieldFilter">Filter by field: </label>
        <select id="fieldFilter" data-dojo-type="dijit/form/Select"></select>
    </div> -->
    <div id="filterValueStatus" style="display: none;padding: 0.8em;">
        <label for="fieldVFilterValue">${config.i18n.visit.additionalFilter} </label><label for="fieldName" id="filterFieldName"></label>: 
        <select id="fieldFilterValue"></select>
    </div>
    <div id="recordDisplay" style="padding: 0.8em;display: none;">
        <span>${config.i18n.visit.record}:</span><input id="recordIndex" data-dojo-type="dijit/form/NumberTextBox" style="width: 20%;" data-dojo-props="constraints:{place:0,min:1},invalidMessage:'${config.i18n.visit.error1}', rangeMessage: '${config.i18n.visit.error1}'"/>&nbsp;&nbsp;${config.i18n.visit.of}<span id="noOfRecords"></span>
    </div>
    <div id="visitAttributeContainer" style="display: none;">
        <button id="visitAttributeBtn" class="titleHeader" role="button">
            <span class="titleLabel">${config.i18n.visit.visit}</span>
            <span class="launchpad-icon-arrow-right listExpandBtn"></span>
        </button>
        <div id="visitAttributesContent" style="display: none;padding: 0.4em 1.4em 0;">
            <div id="visitContentDiv" data-dojo-type="dijit/layout/ContentPane" 
                 data-dojo-props="region:'center'"></div>
            <div id="setStatusField" style="display: none;margin-top: 5px;"></div>
</div>
    </div>
    <div id="bookmarkName" style="padding: 0.8em;display: none;"></div>
    <div id="imageAttributeContainer" style="display: none;">
        <button id="imageAttributeBtn" class="titleHeader" role="button">
            <span class="titleLabel">${config.i18n.visit.image}</span>
            <span class="launchpad-icon-arrow-right listExpandBtn"></span>
        </button>
        <div id="imageAttributesContent" data-dojo-type="dijit/layout/ContentPane" 
             data-dojo-props="region:'center'" style="display: none;padding: 0.4em 1.4em 0;"></div>
    </div>
    <div id="editCheckbox" style="display: none;padding: 0.8em;"><input data-dojo-type="dijit/form/CheckBox" id="editToggle" /><label for="editToggle" class="titleLabel">${config.i18n.visit.edit}</label></div>
    <div id="errorEditor" style="color: #ee0000;"></div>
    <div id="notesEditor" style="padding: 0.8em 1.4em;display: none;">
        <span id="textEditor">${config.i18n.visit.addText}</span>
        <div id="templateDiv" style="margin:5px;display: none;"></div>
        <div id="attributeInspectorDiv" data-dojo-type="dijit/layout/ContentPane" 
             data-dojo-props="region:'center'" style="display: block;"></div>
        <div id="editorDiv"></div>
    </div>
    <div style="padding: 0.8em;">
        <button data-dojo-type="dijit/form/Button" disabled id="prevBtn" style="float: left;">${config.i18n.visit.prev}</button>
        <button data-dojo-type="dijit/form/Button" disabled id="nextBtn" style="float: right;">${config.i18n.visit.next}</button>
    </div>
</div>
